<section class="pt-6 pb-12 px-8 mx-6 bg-white shadow-sm rounded-xl">
  <h3 class="mb-1 text-3xl font-semibold">2024</h3>
  <h2 class="mb-5 text-3xl font-semibold text-[#3ECEAB]">Septiembre</h2>
  <div class="grid grid-cols-7">
    <div *ngFor="let day of weekDays"
      class="h-[55px] border border-gray-200 bg-[#101010] text-sm flex justify-center items-center">
      <p class="font-bold text-white">{{ day }}</p>
    </div>
    <button *ngFor="let day of days; let i = index" (click)="selectDay(day._id, getDayOfMonth(day.date))"
      class="h-14 w-14 border border-gray-200 cursor-pointer text-sm flex justify-center items-center">
      <p class="text-white font-semibold w-8 h-8 rounded-full flex justify-center items-center"
        [ngClass]="{
          'bg-[#ff4a4ac4]': isFullyBooked(i),
          'bg-[#31c17bba]': !isFullyBooked(i)
        }"
      >{{ getDayOfMonth(day.date) }}</p>
    </button>
  </div>
</section>
