<section *ngIf="this.dayId"
  class="pt-6 pb-12 px-8 my-2 bg-white shadow-sm rounded-xl flex gap-10">
  <div class="mr-4 flex flex-col justify-center items-center">
    <h3 class="text-[#525252] text-lg">Fecha a Reservar</h3>
    <h2 class="text-9xl font-bold mb-2">{{ daySelected }}</h2>
    <h2 class="text-xl font-bold mb-2 text-center">de Septiembre</h2>
    <h2 class="text-3xl font-bold text-[#3ECEAB]">{{ hourSelected }}</h2>
  </div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()"
    class="w-80">
    <h3 class="text-2xl font-bold mb-2">Hacer una Reservación</h3>
    <div class="mb-4">
      <div class="mt-2">
        <input type="text" id="name" autocomplete="name" formControlName="name" placeholder="Ingresa tu nombre" required
          class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div class="mb-4">
      <div class="mt-2">
        <input id="email" name="email" type="email" autocomplete="email" formControlName="email" required placeholder="Ingresa tu correo electronico"
          class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <div class="mb-4">
      <div class="mt-2">
        <input type="number" id="phone" autocomplete="phone" formControlName="phone" required placeholder="Ingresa tu numero de telefono"
          class="block w-full rounded-md border-0 py-1.5 px-2.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6">
      </div>
    </div>

    <button type="submit"
      class="rounded-md mt-2 w-full bg-[#101010] px-3 py-2 text-sm font-semibold text-white shadow-sm">
        Agregar
    </button>
  </form>
</section>

